article {
    background: rgb(21, 42, 42);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    display: flex;
    overflow: hidden;
    transition: width .3s ease-in-out;
}

article h2 {
    display: flex;
    align-items: center;
    color: rgb(218, 235, 251);
    text-shadow: 3px 3px 3px black;
    letter-spacing: .2em;
    height: 50px;
    width: 440px;
    font-size: 23px;
    padding-left: 7px;
}

#permanent {
    min-width: 60px;
    background-color: rgb(106, 131, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-nav {
    position: absolute;
    top: 5vh;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    position: absolute;
    bottom: 5vh;
}

article:hover {
    width: 440px;
}

article:hover #expanded {
    display: flex;
}

article:hover tbody {
    display: block;

}
article img {
    width: 50px;
    border-radius: 100%;
}

#expanded {
    width: 380px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

article table { 
    box-shadow: none;
}
article #table-container {
    position: absolute;
    top: 5vh;
    margin-top: 50px;
    width: 100%;
}

article tbody {
    display: none;
    overflow-y: auto;
    position: fixed;
    margin-top: 68px;
    top: 7vh;
    bottom: 5vh;
    margin-bottom: 140px;
    width: 100%;
}

article thead tr{
    display: block;
}

article tbody td{
    width: 190px;
}

article thead th {
    width: 190px;
    background-color: gray;
}

article .favorite {
    background-color:  rgba(128, 128, 128, 0.4);
}

article .favorite:hover {
    background-color: rgba(124, 17, 3, 0.5);
}

#logout {
    cursor: pointer;
    transition: background-color .3s ease;
}

#logout:hover {
    background-color: gray;
}