* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(0deg, silver 0%, darkslategrey 80%);
    background-attachment: fixed;
}
header {

    font-family: Cambria, serif;
    color: rgb(218, 235, 251);
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-shadow: 3px 3px 3px black;
    letter-spacing: .2em;
    padding-bottom: 1vh;
}

nav {
    display: flex;
    flex-direction: column;
}

nav button {
    padding: 0 .5em;
    letter-spacing: .1em;
    cursor: pointer;
}

form {
    padding-bottom: 1vh;
}
#message {
    letter-spacing: .1em;
    text-align: center;
}
#page-nav {
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-nav p {
    margin: 5px;
}

main {
    display: flex;
    justify-content: center;
    padding: 3vh;
}

table {
    font-family: Calibri, sans-serif;
    width: 90%;
    min-width: 375px;
    max-width: 750px;
    border-collapse: collapse;
    box-shadow: 0 0 1px 1px black;
}


tbody tr {
    background: rgba(128, 128, 128, 0.4);
    color: rgb(228, 228, 228);
    font-weight: 500;
    cursor: pointer;
    transition: background .3s, color .3s ease;
}

tbody tr:hover {
    background: rgba(150, 150, 150, .5);
}

th, td {
    padding: 1vh;
    padding-left: 2vw;
    letter-spacing: 1px;
}

th {
    background: darkslategray;
    color: rgb(218, 235, 251);
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}

.hidden {
    visibility: hidden;
}
